
################################################
# Módulos necessários para todos os ambientes  #
################################################

BeautifulSoup==3.1.0.1
cssutils==0.9.6
webassets==0.4
gunicorn==0.12.1
python-memcached==1.47


## Globocore e suas dependências ################

django_compressor==0.6.3-CORE
django-mptt==0.4.0-CORE
django-piston==0.2.3rc1-CORE
python-bitly==0.3-CORE
globo_compressor_extensions==0.2dev
cleese==0.2.1
dead-parrot==0.1.5
Django==1.1.1
django-uuidfield==0.2
httplib2==0.6.0
lxml==2.3
MySQL-python==1.2.3
PIL==1.1.7-1
pycrypto==2.3
pytz==2011d
simple-db-migrate==1.3.9.3
simplejson==2.1.3
staticgenerator==1.4.1
volare==1.1.3
globocore==3.7.1.7
uuid==1.30
nose==1.0.0
cssmin==0.1.5
pycurl==7.19.0

## / #############################################

globo-libby==0.9.9
stomp.py==3.0.3

seo==1.0.1
teste_personalidade==1.3.1
enquetemultimidia==1.5.8
apresentador==1.2.9 
comum_variedades==1.2.8
enquete_variedades==1.2.7
galeria_variedades==1.2.7
materia_variedades==1.2.6
menu_variedades==1.2.2
plantao==1.3.9
programa==1.3.5
participantes==1.3.0
quadros==1.3.4
teste_personalidade_variedades==1.2.5

hook_test==1.2.12
